* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbar {
    background-color:  #D5D3D0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar .logo {
    padding-left: 1.5rem;
    align-self: center;
}

#navbar ul {
    display: flex;
    list-style-type: none;
}



#navbar ul li a {
    display: flex;

    color: black;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    margin: 10px 10px;

}

#navbar ul li a:hover {
    border-radius: 10px 10px;
    background-color: #A7BEC7;

}

#showcase {
    background: black url("./img/alyssa-strohmann-TS--uNw-JqE-unsplash.jpg") no-repeat center center/cover;
    height: 100vh;
    color: black;
}
#showcase .content {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#showcase .header1 h1 {
    margin: 5px 0px;

}

#showcase .odstavec p {
    margin: 5px 0px;
}

#showcase .content {
    color: white;
}




.btn {
    color: white;
    text-decoration: none;
    padding: 7px;
    background-color: #D5D3D0;
    border-radius: 10px 10px;
    color: black;


}

.btn:hover {
    border-radius: 10px 10px;
    background-color: #A7BEC7;
    text-decoration: underline;
    border: solid 3px #181D19;
}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    }
 
.py-1 {
    padding: 1.5rem 0;
    }
 
.text-center {
    text-align: center;
    }
 
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    }
 
#what .items {
    display: flex;
    padding: 1rem;
    
    }
 
#what .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
    }
 
#what .items .item i {
    background-color: #A7BEC7;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    align-self: center;
    line-height: 25px;
    }
