* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D5D3D0;
}

.wrapper {
    width: 400px;
    background-color: #232923;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.wrapper h1 {
    text-align: center;
    
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 35px;
    border: 1.5px solid rgba(255, 255, 255, .2);
    padding: 20px 45px 20px 20px;
    color: white;
}

.input-box input::placeholder {
    color: white; 
}
.input-box i {
    position: absolute;
    right: 25px;
    top: 1rem;
}

.wrapper .btn {
    width: 100%;
    border-radius: 50px;
    height: 40px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    font-weight: 700;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 15px 0;
}
.wrapper .remember-forgot label input {
    margin-right: 4px;
}

.wrapper .remember-forgot a {
    color: white;
    text-decoration: none;
}
.wrapper .remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .register-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.wrapper .register-form a {
    margin-left: 10px;
    text-decoration: none;
    color: white;

}

.wrapper .register-form a:hover {
    margin-left: 10px;
    text-decoration: underline;
    color: white;

}