* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbar {
    background-color:  #D5D3D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
 
#navbar .logo {
    padding-left: 1.5rem;
    align-self: center;
}
 
#navbar ul {
    display: flex;
    list-style-type: none;
}
 
 
 
#navbar ul li a {
    display: flex;
 
    color: black;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    margin: 10px 10px;
 
}
 
#navbar ul li a:hover {
    border-radius: 10px 10px;
    background-color: #A7BEC7;
 
}
 
#showcase {
    background: black url("../img/toa-heftiba-KQ1n6HzSahY-unsplash.jpg") no-repeat center center/cover;
    height: 100vh;
    color: black;
}
#showcase .content {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}
 
#showcase .header1 h1 {
    margin: 5px 0px;
 
}
 
#showcase .odstavec p {
    margin: 5px 0px;
}
 
#showcase .content {
    color: white;
}
 
 
 
 
.btn {
    color: white;
    text-decoration: none;
    padding: 7px;
    background-color: #D5D3D0;
    border-radius: 10px 10px;
    color: black;
 
 
}
 
.btn:hover {
    border-radius: 10px 10px;
    background-color: #A7BEC7;
    text-decoration: underline;
    border: solid 3px #181D19;
}
 
 
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    }
 
.py-1 {
    padding: 1.5rem 0;
    }
 
.text-center {
    text-align: center;
    }
 
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    }
 
#what .items {
    display: flex;
    padding: 1rem;
 
    }
 
#what .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
    }
 
#what .items .item i {
    background-color: #A7BEC7;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    align-self: center;
    line-height: 25px;
    }


    #aboutus {
        
        padding: 1.5rem 0;
    
    }
    .as-container {
        display: flex;
        justify-content: space-between;
    }

    #aboutus .text-as {
        padding: 5px 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin: 10px 20px;
    }
    
    
    #aboutus .text-as p {
        padding: 5px 0px;
    }
    #aboutus .text-as a {
        background-color: #A7BEC7;;
        padding: 10px;
        text-decoration: none;
        border-radius: 10px;
        color: black;
    }
    
    #aboutus .text-as a:hover {
        text-decoration: underline;
    }

    #aboutus .img-as  img {
       width: 500px;
       height: auto;
       border-radius: 20px;

    
    }
    #nastroje .items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    #nastroje .item {
        position: relative;
        
        padding: 0.3rem;
        margin-bottom: 2rem;
    }
    
    #nastroje .item:hover .overlay {
        width: 100%;
    }
    
    
    #nastroje .image {
        width: 300px;
        border-radius: 10px;
    }
    
    #nastroje .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: grey;
        opacity: 50%;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }
    
    #nastroje .text {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .bg-dark {
        background-color: #D5D3D0;
    }